* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: oklch(55.4% 0.046 257.417);
  display: flex;
  justify-content: center;
}

.titulo {
  font-size: 30px;
  color: white;
  font: bold;
  text-align: center;
  margin-top: 3%;
}

.tasks {
  background-color: oklch(92.9% 0.013 255.508);
  border-radius: 8px;
  padding: 2%;
}

.task {
  background-color: oklch(70.4% 0.04 256.788);
  margin: 1%;
  border-radius: 8px;
  padding: 1%;
  display: flex;
  width: 100%;
  border: none;
  color: white;
  font-size: 18px;
}

.flex {
  display: flex;
}

.addTask {
  background-color: oklch(92.9% 0.013 255.508);
  border-radius: 8px;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.addTaskInput {
  border: solid;
  border-color: rgb(158, 158, 158);
  border-width: 1px;
  margin: 0.5%;
  border-radius: 8px;
  height: 30px;
  padding: 1%;
  font-size: 15px;
}

.addTaskButton {
  border: none;
  background-color: oklch(44.6% 0.043 257.281);
  color: white;
  border-radius: 8px;
  margin: 0.5%;
  height: 30px;
  font-size: 18px;
}

.principal {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.editarTask {
  border: none;
  background-color: oklch(70.4% 0.04 256.788);
  border-radius: 8px;
  color: white;
  margin: 1%;
  width: 9%;
}

.line-through {
  text-decoration: line-through;
}
